<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345214158869-7s051pb25udm1dt2qdh591rhrummqnlm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345214158869-7s051pb25udm1dt2qdh591rhrummqnlm</string>
	<key>API_KEY</key>
	<string>AIzaSyAbnS4S6J1uUvDj_rlcRHeB6ngWnq7dzPs</string>
	<key>GCM_SENDER_ID</key>
	<string>345214158869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JoshKardos.Lemondrop</string>
	<key>PROJECT_ID</key>
	<string>lemondrop-1558064397092</string>
	<key>STORAGE_BUCKET</key>
	<string>lemondrop-1558064397092.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345214158869:ios:6e34a1847cf14360</string>
	<key>DATABASE_URL</key>
	<string>https://lemondrop-1558064397092.firebaseio.com</string>
</dict>
</plist>